#Ignore thumbnails created by Windows
Thumbs.db
.vs/
obj/*.*
#Ignore files built by Visual Studio
*.pdb
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.rar
*.dll
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
obj/*.*
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
UnitTest/bin/Debug/*.dll
UnitTest/bin/Debug/*.pdb
~$*.*
/*.suo

/pili-sdk-csharp/bin/Debug/pili-sdk-csharp.dll
/pili-sdk-csharp/obj/Debug/pili-sdk-csharp.dll
/UnitTest/bin/Debug/pili-sdk-csharp.dll
/UnitTest/bin/Debug/pili-sdk-csharp.pdb
/UnitTest/bin/Debug/pili-sdk-csharp.dll
/UnitTest/bin/Debug/pili-sdk-csharp.pdb
/pili-sdk-csharp/bin/Debug/pili-sdk-csharp.dll
/pili-sdk-csharp/bin/Debug/pili-sdk-csharp.pdb
